*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}
#path{
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    height: 40px;
    background-color: rgb(230, 230, 230);
    /* position: relative; */
    margin-top: -8px;

}
#path>h3{
    margin-left:100px;
    margin-top: 8px;
}
#path span{
    color: rgb(250, 144, 144);
}

#navigate{
    width: 80%;
    height: 20vh;
    margin-top: 2px;
    display: grid;
    grid-template-columns:28% 9% 18% 18% 20%;
    background-color: rgb(244, 252, 252);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    margin: auto;
    align-items: center;
}
#navigate>#search{
    display: inline;
    height: 50px;
    background-color: chocolate;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 20px;
   
    
}
#navigate>#search i{
    margin-left: 50px;
    margin-top: 20px;
}
#navigate>#search h2{
    display: inline;
    align-content: center;
}
#navigate>input,select{
    height: 50px;

}
#navigate>input{
    
    margin-left: 5%;
}
#map{
    display: inline;
    margin-left: 20px;
    border: 2px solid rgb(37, 60, 37);
    padding: 10px;
}
#sort{
    margin-left:60%;
}

#left{
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   
}
#left p{
 color: rgb(107, 107, 107);
}

#checkbox span{
    margin-left:10px;
    background-color: red;
    color: white;
}
.checkbox{
    width: 20px;
    height:20px;

}
.checkbox1{
    width: 20px;
    height:20px;
    display: block;


}

#produnct{
    width: 80%;
    display: flex;
    margin: auto;

}
#container{
    
    display: flex;
}
.card{
    display:flex;
    justify-content: space-between;
}

.checked{
    color: orange;
}
.card{
    margin-top: 15px;
}
.cardbody{
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-align: justify;
}
.cardbody h2,h4,p{
    margin-left: 20px;
}
.cardbody h2:hover{
color: rgb(199, 202, 5);
}
.cardbody p{
    color: dimgray;
}
.cardbody h4{
    
    color: darkgreen;
}
.cardbuy{
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-left: 15px;
}
.imagediv >img{
    width: 100%;
    
}
#container .pageBtn{
   color: blue;
}