*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}
#path{
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    height: 40px;
    background-color: rgb(230, 230, 230);
    /* position: relative; */
    margin-top: -8px;

}
#path>h3{
    margin-left:100px;
    margin-top: 8px;
}
#path span{
    color: rgb(250, 144, 144);
}

#navigate{
    width: 80%;
    height: 20vh;
    margin-top: 2px;
    display: grid;
    grid-template-columns:28% 9% 18% 18% 20%;
    background-color: rgb(244, 252, 252);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    margin: auto;
    align-items: center;
}
#navigate>#search{
    display: inline;
    height: 50px;
    background-color: chocolate;
    margin-left: 10px;
    cursor: pointer;
   
    
}
#navigate>#search h2{
    display: inline;
    align-content: center;
}
#navigate>input,select{
    height: 50px;

}
#navigate>input{
    
    margin-left: 5%;
}

#left{
    width: 23%;
    border: 1px solid red;
   
}
#left>#filter{
    margin-left: 80px;
}
#left>#discount{
    margin-left: 80px;
}
#checkbox span{
    margin-left:10px;
    background-color: red;
    color: white;
}
.checkbox{
    height: 3dvh;
}

#produnct{
    display: flex;

}
#container{
    display: flex;
}
.card{
    display:flex;
}