#main{
  width: 90%;
  display: flex;
  margin: auto;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 

}

#container{
  width: 70%;
 margin: auto;
 

}
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    box-sizing: border-box;
}

/* .accordion {
  margin-top: 40px;
  .card {
    border: none;
    margin-bottom: 20px;
    h2 {
      background: url(https://cdn0.iconfinder.com/data/icons/entypo/91/arrow56-512.png) no-repeat calc(100% - 10px) center;
    background-size: 20px;
      cursor: pointer;
      font-size: 18px;
      &.collapsed {
            background-image: url(https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-256.png);
      }
    }
    &-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
} */

.row {
  width: 30%;
}

.columns {
  flex: 1;
}

.sidebar-one {
  width: 25%;
}

.u-full-width {
  width: 50%;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
#page{
  width: 50%;
  margin: auto;
}
.button-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}
.cardList{
  display: flex;
  border: 3px solid red;
}
*{padding: 0;
  margin: 0;
  box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.nav{
  display: flex;
  width: 100%;
 
  background-color: #ffffff;
  align-items:center;
  
}
.menu{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  height: 75px;
  
}
.menu a{
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight:600;
}
#bg{
  width: 85%;
  height: 70px;
}
.login{
  display: flex;
  height: 75px;
  /* width: 40%; */
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  
  
}

.login>a>.log{
  padding:18px 35px;
  border-radius: 25px;
  margin-left: 10px;
  font-weight: 800;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login>a>#Hotelcard,.login>a>#Login:hover{
  background-color: #f74d4d;
  color: #ffffff;
  border: none;
}
.login>a>#Hotelcard:hover,.login>a>#Login{
  background-color: #ffffff;
  color: #f74d4d;
  border:1px solid #f74d4d;
}
.title{
  color:black;
  text-align: center;
  margin-top: 0px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 40px;
   padding: 2vh 0;
color: #fff;
margin-bottom: 10px;
text-shadow: 2px 1px 5px #000;
}
.input_ref{
  background-image: url(https://wallpapers.com/images/hd/switzerland-village-by-the-lake-c2s925gxhnk7bz8v.jpg);
  height: 80vh;
}
.input_ref>p{
  color: #fff;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 1px 5px #000;
}
.input_ref>.Form{
  background: transparent;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  justify-content: space-around;
  width: 45%;
  margin: 0 auto;
  margin-top: 20px;


}

.input_ref>.Form>.fin,option{
  padding: 15px 15px 15px 15px;
  border: none;
  border-radius: 5px;

}
.input_ref>.Form>#searchbtn{
  background-color: #f74d4d;
  color:#fff;    
  border-radius: 20px;
  padding: 0px 25px 0px 25px;
  font-size: 20px;
}
  /* <!-- HTML !-->
<button class="" role="button">Button 44</button> */

/* CSS */
.button-44 {
  background: #e62143;
  border-radius: 11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  justify-content: center;
  line-height: 33.4929px;
  padding: .8em 1em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
}

.button-44:active,
.button-44:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}

.button-44:hover {
  border-bottom-style: none;
  border-color: #dadada;
}
  @media only screen and (max-width:800px){
      .hamburger{
          display: block;
          cursor: pointer;
  color: #000;
      }
      .hamburger .line {
          width: 30px;
          height: 3px;
          background: #000;
          margin: 6px 0;
      }
      .anc{
          display: none;
      }
  }
  @media only screen and (max-width:1000px){
      .nav{
          padding: 0 70px;
      }
      .input_ref>.Form{
          grid-template-columns: repeat(3,1fr);
      }
  }
  @media only screen and (max-width:900px){
      .nav{
          padding: 0 50px;
      }
  }
  @media only screen and (max-width:850px){
      .nav{
          padding: 0 40px;
          margin:0 5px
      }
      .input_ref>.Form{
          grid-template-columns: repeat(2,1fr);
      }
  }
  .card-item{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    
  }
  .card{
    width: 100%;
    margin:0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    
  }
  .accordion{
    margin: 40px 0;
  }
  .accordion .item {
      border: none;
      margin-bottom: 50px;
      background: none;
  }
  .t-p{
    color: rgb(193 206 216);
    padding: 40px 30px 0px 30px;
  }
  .accordion .item .item-header h2 button.btn.btn-link {
      background: #333435;
      color: white;
      border-radius: 0px;
      font-family: 'Poppins';
      font-size: 16px;
      font-weight: 400;
      line-height: 2.5;
      text-decoration: none;
  }
  .accordion .item .item-header {
      border-bottom: none;
      background: transparent;
      padding: 0px;
      margin: 2px;
      
  }
  
  .accordion .item .item-header h2 button {
      color: white;
      font-size: 20px;
      padding: 15px;
      display: block;
      width: 100%;
      text-align: left;
      background-color: #eca300;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    
  }
  
  .accordion .item .item-header h2 i {
      float: right;
      font-size: 30px;
      color: #eca300;
      background-color: black;
      width: 60px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
  }
  
  button.btn.btn-link.collapsed i {
      transform: rotate(0deg);
      
  }
  
  button.btn.btn-link i {
      transform: rotate(180deg);
      transition: 0.5s;
      
     
  }
  
  #sort-high{
    background-color: rgb(47, 46, 46);
    /* margin: 10px; */
    margin-top: 10px;
    border-radius: none;
   
  }
  #sort-low-to-high{
    background-color: rgb(47, 46, 46);
    
    border-radius: none;
   
  }
  .footer{
    background-color:#1f1b22;
    padding:70px 0

}
.ros{
  display: flex;
}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col h4{
    font-size: 25px;
    color:whitesmoke;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;

}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color:red;
    height: 2px;
    box-sizing: border-box;
    width: 200px;
}
.footer-col ul li:not(last-chlid){
    margin-bottom: 15px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#fefefe;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: teal;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color:#fefefe;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color:#000;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: brown;
    padding-left: 10px;
}
