*{padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    .nav{
        display: flex;
        width: 100%;
        height: 75px;
        margin: 0 ,auto;
        background-color: #ffffff;
        align-items:center;
        position: sticky;
        top: 0;
        
    }
    .menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 65%;
        height: 75px;
        
    }
    a{
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight:600;
    }
    #bg{
        width: 85%;
        height: 70px;
    }
    .login{
        display: flex;
        height: 75px;
        width: 40%;
        justify-content: space-evenly;
        align-items: center;
        
        
    }
   
    .login>a>.log{
        padding:18px 35px;
        border-radius: 25px;
        margin-left: 10px;
        font-weight: 800;
        font-family:'Poppins', sans-serif;
    }
    .login>a>#Hotelcard,.login>a>#Login:hover{
        background-color: #f74d4d;
        color: #ffffff;
        border: none;
    }
    .login>a>#Hotelcard:hover,.login>a>#Login{
        background-color: #ffffff;
        color: #f74d4d;
        border:1px solid #f74d4d;
    }

.cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100vh;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    margin-left: 240px;

}



    .cont>.card{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        width: 30vw;
        height: 80vh;
        text-align: center;
        padding: 20px;
        border-radius: 5px;
    }
    .card>img{
        width: 100%;
        height: 35vh;
        border-radius: 10px;
        
    }
    .card>h2,p{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: justify;
    }
    .card>button{
        padding: 17px;
        margin-top: 10px;
background:#f74d4d;
border-radius: 15px;
color: white;
border: 1px solid black;
    }
    .card>button:hover{
        padding: 18px;
        margin-top: 10px;
        color:rgb(95, 167, 73);
border-radius: 15px;
background-color: white;
border: 1px solid rgb(95, 167, 73);
transition: all 0.8s ease;
    }


.purchase{
    margin-top: 20px;
    margin-bottom: 20px;
}
    .purchase>.form{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        width: 30%;
        padding: 25px;
    }
    .form{
        width: 50%;
    }
    [type="text"],[type="number"]{
        padding: 10px;
        border-radius: 5px;
        margin-top: 15px;
        margin-bottom: 18px;
    }
    .form>#submitbtn{
        padding: 15px 15px 15px 15px;
        width: 150px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 20px 0px 20px 0px;
        background-color: #f74d4d;
        color: aliceblue;
        font-weight: 800;
        justify-content: center;
        align-items: center;
    }








    .containe{
        max-width: 1170px;
        margin: auto;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        list-style: none;
    }
    .footer{
        background-color:#1f1b22;
        padding:70px 0
    
    }
    .footer-col{
    width: 25%;
    padding: 0 15px;
    }
    .footer-col h4{
        font-size: 25px;
        color:whitesmoke;
        text-transform: capitalize;
        margin-bottom: 30px;
        position: relative;
    
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color:red;
        height: 2px;
        box-sizing: border-box;
        width: 200px;
    }
    .footer-col ul li:not(last-chlid){
        margin-bottom: 15px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color:#fefefe;
        text-decoration: none;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: teal;
        padding-left: 8px;
    }
    .footer-col .social-links a{
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color:#fefefe;
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        color:black;
        border-radius: 10px;
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        color: brown;
        padding-left: 10px;
    }