*{
    box-sizing: border-box;
    font-family: "GT Walsheim";
   
    
}
#container{
    width: 100%;
    margin: auto;
    display: flex;
    background-color: #eeecec;
}

#left{
    width: 40%;
    margin: auto;
    margin-top: 0px;
   
    padding: 30px;
    border-radius: 10px;
    background-color:white;
    color: rgb(24, 6, 6);
    
}


#right{
    width: 40%;
    margin: auto;
    
    padding: 30px;
    border-radius: 10px;
    background-color:white;
    color: rgb(24, 6, 6);
    margin-bottom: 10px;

}
p{
  color: #767575;
}
.floating-label {
   
    margin: auto;
    position: relative;
    margin-bottom: 20px;
    
    gap: 30px;
    margin-top: 30px;
   margin-left: 30px;
    
  }
  
  .floating-label input {
    width: 80%;
    padding: 15px;
    border: none;
    border-bottom: 2px solid  #a5a4a4;
    /* font-size: 26px; */
    /* border-radius: 10px; */
  }
  
  .floating-label label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.2s ease all;
    font-size: 16px;
    padding-left: 10px;
    /* color: #d7d9d5; */
  }
  
  .floating-label input:focus ~ label,
  .floating-label input:valid ~ label {
   
    top: -20px;
    font-size: 12px;
    color: #ec2424;
   
  }
  
  
 
  
  /* CSS */
  .button-28 {
    appearance: none;
    background-color: #ec2424;
    border: 2px solid #eb3030;
    border-radius: 15px;
    box-sizing: border-box;
    color:white;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 80%;
    will-change: transform;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color:  #eb3030;
    background-color: transparent;
    /*  */
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }

  @media screen and (max-width: 480px) {
   
    #container{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    #left{
        width: 90%;
        margin: auto;
    }
    #right{
        width: 90%;
        margin: auto;
    }

}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
   
}
#h1{
  display: none;
}
#h2{
  display: none;
}

.llabel{
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 80px;
}