*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 50%;

    height: 90vh;
    position: relative;
    transform: translate(10%,10%);
    overflow: hidden;
    margin: 0 auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 30px;
    

}
.swiper-wrapper{
    
    width: 100%;
    display: flex;
    animation: slide 20s infinite;
   
}
.swiper-wrapper img{
    width: 100%;
    height: 80vh;
    border-radius: 20px;
}
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    65%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-300%);
    }
    85%{
        transform: translateX(-300%);
    }
    90%{
        transform: translateX(-400%);
    }
    100%{
        transform: translateX(-400%);
    }
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
color:crimson
}
.swiper .swiper-pagination-bullet-active{
    background: #000;
}